{% extends "base.html.twig" %}


       

{% block stylesheets %}
	{{ parent() }}
<link rel="stylesheet" href="{{  asset('/styles/profile.css' )  }}">
{% endblock %}

{% block body %}
 <title>{% block title %}Apoo! | Profile{% endblock %}</title>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

	<div class="wrapper">
		<div class="left">
			<p>Username</p>
			<br>
			<h3>{{user.Username}}</h3>
			<br>
			<p>Email</p>
			<br>
			<h4>{{user.Email}}</h4>
			<div class="line"></div>
			<div class="links">

				<br>
				<a href="{{ path('Suggestions') }}" id="Suggestions">
					<h3>Suggestions</h3>
				</a>
<a href="/saved/{{user.id}}" id="Suggestions">
					<h3>Saved Stories</h3>
				</a>
				<a href="{{ path('settings') }}">
					<h3>Settings</h3>
				</a>
				<a href="/delete/{{user.id}}">
					<h3 style="color:#FF3232;">Delete Account</h3>
				</a>

			</div>
		</div>
		<div class="right">
			{% block content %}
			
			{% endblock %}


		</div>


	</div>
	
</div>{% endblock %}
	
