{% extends "register/index.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<style>
.request-new-password-form{
    margin-top: 30%;
}

button{
    margin-bottom:5%;
}
</style>  

{% endblock %}
{% block title %}Reset your password{% endblock %}

{% block body %}

<div class="wrapper">
		<div class="left">

			<div class="slideshow-container">

				<div class="mySlides fade">

					<img src="{{asset("images/Cookie.jpg")}}" style="width:100%">

				</div>

				<div class="mySlides fade">

					<img src="{{asset("images/Blue.jpg")}}" style="width:100%">

				</div>

				<div class="mySlides fade">

					<img src="{{asset("images/Choco.jpg")}}" style="width:100%">

				</div>

			</div>
			<br>

			<div style="text-align:center">
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
			</div>
		</div>
		<div class="right">
        
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
   <h1>Reset your password</h1>
			<form action="" method="post" class="request-new-password-form">

				    {{ form_start(requestForm) }}
			
					 {{ form_row(requestForm.email) }}

				       <div>

                          <button class="btn btn-primary">Send email</button>
	 {{ form_end(requestForm) }}
     <br>  
            <small>
                Enter your email address 
                <br>
                and we will send you a
                link 
                <br>
                to reset your password.
            </small>
        </div>
    <br>

   
			</form>

			<p>Remembered your password ?
            <br>
				<a href="{{path("app_login")}}">
				<b>Login Now</b>
				</a>
			</p>


		</div>
	</div>
 

	<script>
		let slideIndex = 0;
showSlides();

function showSlides() {
let i;
let slides = document.getElementsByClassName("mySlides");
let dots = document.getElementsByClassName("dot");
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slideIndex++;
if (slideIndex > slides.length) {
slideIndex = 1
}
for (i = 0; i < dots.length; i++) {
dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex - 1].style.display = "block";
dots[slideIndex - 1].className += " active";
setTimeout(showSlides, 3000);
}
	</script>
   
        
        
    
{% endblock %}
