{% extends "register/index.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<style>
.reset-password-form{
    margin-top: 20%;
}
</style>  

{% endblock %}
{% block title %}Reset your password{% endblock %}

{% block body %}

<div class="wrapper">
		<div class="left">

			<div class="slideshow-container">

				<div class="mySlides fade">

					<img src="{{asset("images/Cookie.jpg")}}" style="width:100%">

				</div>

				<div class="mySlides fade">

					<img src="{{asset("images/Blue.jpg")}}" style="width:100%">

				</div>

				<div class="mySlides fade">

					<img src="{{asset("images/Choco.jpg")}}" style="width:100%">

				</div>

			</div>
			<br>

			<div style="text-align:center">
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
			</div>
		</div>
		<div class="right">
   <h1>Reset your password</h1>
			<form action="" method="post" class="reset-password-form">

				 {{ form_start(resetForm) }}
			
					{{ form_row(resetForm.plainPassword) }}

				

				<button class="btn btn-primary">Reset password</button>
				{{ form_end(resetForm) }}
			</form>

			<p>Remembered your password ?
            <br>
				<a href="{{path("app_login")}}">Login Now</a>
			</p>


		</div>
	</div>
 

	<script>
		let slideIndex = 0;
showSlides();

function showSlides() {
let i;
let slides = document.getElementsByClassName("mySlides");
let dots = document.getElementsByClassName("dot");
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slideIndex++;
if (slideIndex > slides.length) {
slideIndex = 1
}
for (i = 0; i < dots.length; i++) {
dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex - 1].style.display = "block";
dots[slideIndex - 1].className += " active";
setTimeout(showSlides, 3000);
}
	</script>
   
        
        
    
{% endblock %}
